header {
    max-width: 100%;
    height: 170px;
    position: relative;
    overflow: hidden;
}


.contenedor-logo{
max-width: 10%;
height: auto;
display: block;
}

.logo{
    max-width: 100%;
    height: auto;
    display: block;
    align-items: center;
}

.contenedor {
    display: flex; 
    background-color: rgb(39, 37, 37);
}


@media (max-width: 600px) { 
    .menu{
        border: 4px solid rgb(40, 40, 40);
        border-radius: 5px;
    }
    .contenedor{
        flex-direction: column;
    }
    footer{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 1%;
        margin-bottom: 50px;
    }
    .contenedor-logo{
        max-width: 80%;
    }
    h1 {
        text-align:center;
        font-family: monospace;
        font-size: 3rem;
        position: relative;
        top: 0%;
    }
    .contenedor div{
        font-size: 1rem;
    }
}


.contenedor div{
    background-color: rgb(39, 37, 37);
    margin: 8px;
    padding: 8px;
    font-size: 30px;
    border-style: ridge;
}


a:link, a:visited {
    color: white;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #564f4e;
    display: inline-block;
    border-left: 6px solid rgb(205, 89, 89);
}

a:hover, a:active {
    background-color: rgb(205, 119, 119);
}


body {
    background-image:url("images/descarga.jpg")
}


.derechos-autor{
    text-align:center;
    font-size: 20px;
    color: white;
}