h1 {
    text-align: center;
    font-family: monospace;
    font-size: 3rem;
}

.contenedor{
    display: flex;
    background-color: darksalmon;
}

.contenedor div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

body {
    background-image:url("images/descarga.jpg")
}


footer{
margin-top: 100%;
margin-bottom: 50px;
}

.derechos-autor{
    text-align:center;
    font-size: 20px;
}